:root {
    --color-primary: #ffe3bc; /* Color primario */
    --color-secondary: rgb(248, 241, 229); /* Color secundario */
    --color-soft: white;
    --color-accent: #fb700c; /* Color de acento */
}

* {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    font-family: 'Mulish', sans-serif;
}

.subtitle{
    font-family: 'Telex', serif;
    color: var(--color-accent);
    border-bottom: 3pt dotted var(--color-accent); 
    margin-bottom: 1em;
}

.subtitle p{
    font-family: 'Roboto', serif;
}

main{
    display: flex;
    padding: 0;
    margin: 0;
    justify-items: center;
}

nav {
    background-color: var(--color-primary);
    padding: 1em;
    display: flex;
    justify-content: flex-end;
}

.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 1em 2em;
    background: var(--color-accent);
    border-radius: 10px;
}
.nav-links li a{
    text-decoration: none;
    color: var(--color-soft);
}
.nav-links li:hover{
    background-color: #885430;
}


header{
    display: flex;
    padding: 0em 20em;
    justify-items: center;
    background-color: var(--color-primary);
    color: var(--color-accent);
}
header div {
    position: relative;
    top: 0;
    left: 50%;
}

.left-section{
    flex-grow: 0.2;
    background-color: var(--color-secondary);
}
.right-section{
    flex-grow: 1;
    background-color: var(--color-soft);
}

figure {
  border: 5pt solid var(--color-primary); /* Borde blanco */
  border-radius: 50%; /* Borde redondeado */
  overflow: hidden; /* La parte que sobresale será visible */
  position: absolute;
  top: 0;

}

figure img {
  width: 10em; 
  height: 10em; 
}

section {
    padding: 3em;
    width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
  
iframe{
    height: 200px;
}